RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.nexah\.de$ [NC]
RewriteRule ^ https://nexah.de%{REQUEST_URI} [R=301,L,NE]

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://nexah.de%{REQUEST_URI} [R=301,L,NE]
